# Semana 05
Jose Andres Vera Rodriguez

## Temas:
1. Numeros
2. Variables
3. Manejo de Cadenas
4. Ingreso de datos por teclado
5. Operadores

### 3. Manejo de cadenas

In [1]:
cadena = "Universidad Nacional Tecnologica de Lima Sur"
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [2]:
#Universidad Nacional Tecnologica de Lima Sur
#0123456....                        ... -2 -1

In [3]:
cadena[5] #deberia ser la letra r

'r'

In [4]:
cadena[10]

'd'

In [5]:
# Nota: Tambien considera espacios
cadena[11]

' '

In [8]:
#Se puede mostrar en inversa
cadena[-5]

'a'

In [7]:
cadena[-23]

'T'

In [9]:
#Para mostrar una subcadena [desde, hasta una antes]
#En Java era substring()
cadena[3:8]

'versi'

In [10]:
#Para saber el tamaño de una cadena se utiliza len()
len(cadena)

44

In [11]:
#Para mostrar una cadena en mayuscula utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [12]:
#ojooo... solo es para la muestra, porque el original se mantiene
cadena

'Universidad Nacional Tecnologica de Lima Sur'

In [13]:
#Si se desea cambiar:::
cadena = cadena.upper()
cadena

'UNIVERSIDAD NACIONAL TECNOLOGICA DE LIMA SUR'

In [14]:
#Para mostrar una cadena en minuscula utilizamos lower()
cadena.lower()

'universidad nacional tecnologica de lima sur'

In [15]:
#Generar una lista a partir de una cadena:   split()
cadena.split()

['UNIVERSIDAD', 'NACIONAL', 'TECNOLOGICA', 'DE', 'LIMA', 'SUR']

In [16]:
#Generar una lista utilizando un criterio de separacion a partir de una cadena:   split()
#Vamos a generar una lista de toda la cadena utilizando como criterio de separacion la letra "A"
cadena.split("A")

['UNIVERSID', 'D N', 'CION', 'L TECNOLOGIC', ' DE LIM', ' SUR']

In [17]:
#Forma clasica, concatenar con +
nombre = "Andres Vera"
print("Buenas tardes "+nombre)

Buenas tardes Andres Vera

In [18]:
#Tambien se puede utilizando:  .format()
nombre = "Andres Vera"
edad = 20
print("Hola {} ya se que tienes {} años" .format(nombre,edad))

Hola Andres Vera ya se que tienes 20 años

In [21]:
#Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 = {} " .format(resultado))
print("10/3 = {r:1.3f} " .format(r=resultado))

10/3 = 3.3333333333333335
10/3 = 3.333

In [22]:
#Dar formato con f
#La funcion f esta disponible desde la version 3.6
nombre = "Juanito Perez"
edad = 12
print(f"Buenos dias {nombre}, ya se que tienes {edad} años.")

Buenos dias Juanito Perez, ya se que tienes 12 años.

In [23]:
#Dar formato a numeros con muchos decimales con f
resultado = 10/3
print(f"10/3 = {resultado} ")
print(f"10/3 = {resultado:1.3f} ")

10/3 = 3.3333333333333335
10/3 = 3.333